@model MDS.Models.Tara

@{
    ViewData["Title"] = "New";
}


<head>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <style>
        .custom-header {
            font-family: 'Lobster', cursive;
            color: #ff6600;
        }

        .custom-text {
            font-family: 'Lobster', cursive;
        }

        .custom-button {
            font-family: 'Lobster', cursive;
            background-color: #3399ff;
            color: #ffffff;
            border: 2px solid #3399ff;
            padding: 5px 10px;
            font-size: 16px;
        }

            .custom-button:hover {
                background-color: #1a8cff;
                color: #000000;
                border-color: #1a8cff;
            }

    </style>
</head>

<h2 class="text-center mt-5 custom-header">Adaugă o țară</h2>

<div class="container mt-5">
    <div class="row">
        <div class="col-6 offset-3">
            <form asp-action="New">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Nume" class="control-label"></label>
                    <input asp-for="Nume" class="form-control" />
                    <span asp-validation-for="Nume" class="text-danger"></span>
                </div>
                <br />
                <div class=" text-center form-group">
                    <button type="submit" class="btn btn-primary custom-button">Adaugă</button>
                </div>
            </form>
        </div>
    </div>
</div>