@model MDS.Models.Review


@{
    ViewBag.Title = "Edit";
}

<h2>Editare review</h2>
<br />


@using (Html.BeginForm(controllerName: "Reviews", actionName: "Edit",
      method: FormMethod.Post, routeValues: new { id = Model.Id }))

{
    @Html.Label("Continut", "Continut comentariu")

    <br />

    @Html.Editor("Continut", new { @class = "form-control" })
    <br />


    @Html.ValidationMessage("Continut", null, new { @class = "text-danger" })



    <button class="btn  btn-primary" type="submit">Editeaza review</button>

}

