@model MDS.Models.Review


@{
    ViewBag.Title = "Edit";
}

<h2>Editare review</h2>
<br />


<div class="container mt-5">
    <div class="row">
        <div class="col-6 offset-3">
            <form method="post" action="/Reviews/Edit/@Model.Id">

    @Html.Label("Continut", "Continut comentariu")

    <br />

    @Html.Editor("Continut", new { @class = "form-control" })
    <br />


    @Html.ValidationMessage("Continut", null, new { @class = "text-danger" })



    <button class="btn  btn-primary" type="submit">Editeaza review</button>

            </form>
        </div>
    </div>
</div>

